.sidebar{
    height: 80vh;
    top: 0;
    left: 0;
    width: 170px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.sidebarMob{
    height: 80vh;
    top: 0;
    left: 0;
    width: 170px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

@media only screen and (max-width: 992px) {
    .sidebar {
        display: none;
    }
}


.toggle{
    padding: 20px;

}
.profile{
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); 

}

.profile-image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.profile-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 70%;

}

.arrow{
    color: #30a0ff;
}

.navigation{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.navs{
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    height: 30px;
    margin-top: 20px;
    border: 1px solid;
    border-color: black;
}

.navs:hover{
    cursor: pointer;
}
.nav-item{
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

.logo-navs{
    height: 20px;
}

.logOut{
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-items: center;
    align-items: center;
    height: 140px;
}
.logout-btn{
    color: #30a0ff;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
}
.power-icon{
    height: 10px;
    cursor: pointer;
}

